.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(255, 189, 82, 0.335);
}

.recovered {
    border-bottom: 10px solid rgba(96, 161, 66, 0.377);
}

.deaths {
    border-bottom: 10px solid rgba(167, 79, 86, 0.294);
}


@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important
    }
}
